# http://bond-datastory.github.io
body {
  margin: 40px;
  font: 14px Arial, Helvetica, sans-serif;
}
/* BASIC STYLES FOR PROTOTYPING */
section#intro div,
section#personal-data div,
section#data-viz div,
section#legal div,
section#legal2 div,
section#legal3 div{
  min-height: 100px;
  margin-bottom: 15px;
}
img.img-border {
  max-width: 150px;
}
img.img-border {
  border: 10px solid lightblue;
  border-radius: 20px;
}
section#intro div {
  background: lightblue;
  color: black;
  font-size: 14px;
}
h1,h2 {
  background: #8CBEB2;
  color: black;
  font-size: 32px;
}
section#data-viz div {
  background: #F2EBBF;
  font-size: 32px;
}
img.img-border2, img.img-border3 {
  min-width: 1fr;
}
section#legal div {
  background: paleturquoise;
  color: black;
  font-size: 14px;
}
section#legal2 div {
  background: turquoise;
  color: black;
  font-size: 14px;
}
section#legal3 div {
  background: darkturquoise;
  color: black;
  font-size: 14px;
}

/* GRID/LAYOUT STYLES */
section#intro {
  display: grid;
  grid-template-columns: 1fr 2fr;
}
section#data-viz {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

section#legal, section#legal3 {
  display: grid;
  grid-gap: 5px;
  grid-template-columns: 1fr 2fr;
}
section#legal2 {
  display: grid;
  grid-gap: 5px;
  grid-template-columns: 1fr 2fr;
}

@media screen and (min-width:1080px) {
  section#intro {
    grid-template-columns: 400px 1fr;
  }
}
